.column{
    padding-bottom: 35px;
}

img{
    width: 25%;
    height: 250px;
    animation: ani 1.5s linear;
}


@keyframes ani{
    0%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
h1{
    color: rgb(131, 90, 131);
}
.h1-anime {
    font-weight: 900;
    font-size: 3.5em;
    
}
  
.h1-anime .letter {
    display: inline-block;
    line-height: 1em;
}

.background-anime{
    margin: -12px;
    height: 100vh;
}
.background-anime .columns{
    position: relative;
    top: -97%;
    opacity: 1;
    z-index: 2;
}
section{
    display: grid;
    grid-template-columns: repeat(10, auto);
}
.anime{
    background-color: white;
    height: 100vh;
    transition: background-color 1s;
}
.button.is-danger.is-outlined{
    background-color: white;
}